@font-face {
    font-family: "Gilroy400";
    src: url("../font/Gilroy-Regular.ttf");
    src: url("../font/Gilroy-Regular.woff");
}

@font-face {
    font-family: "Gilroy500";
    src: url("../font/Gilroy-Medium.ttf");
    src: url("../font/Gilroy-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy600";
    src: url("../font/Gilroy-Semibold.ttf");
    src: url("../font/Gilroy-Semibold.woff");
    font-weight: 600;
}
