@font-face {
    font-family: "Gilroy400";
    src: url("/public/app/font/Gilroy-Regular.ttf");
    src: url("/public/app/font/Gilroy-Regular.woff");
}
@font-face {
    font-family: "Gilroy500";
    src: url("/public/app/font/Gilroy-Medium.ttf");
    src: url("/public/app/font/Gilroy-Medium.woff");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy600";
    src: url("/public/app/font/Gilroy-Semibold.ttf");
    src: url("/public/app/font/Gilroy-Semibold.woff");
    font-weight: 600;
}

body {
    font-family: "Gilroy400", sans-serif !important;
}

body{background-color:var(--bs-body-bg)}#auth{height:100vh;overflow-x:hidden}#auth #auth-right{height:100%;background:url(../png/4853433.png),linear-gradient(90deg,#2d499d,#3f5491)}#auth #auth-left{padding:5rem 8rem}
#auth #auth-left .auth-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1rem
}
#auth #auth-left .auth-subtitle {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color:#a8aebb
}
#auth #auth-left .auth-logo{margin-bottom:30px; text-align: center}
#auth #auth-left .auth-logo img{height:142px}
@media screen and (max-width: 1399.9px){#auth #auth-left{padding:3rem}}@media screen and (max-width: 767px){#auth #auth-left{padding:5rem}}@media screen and (max-width: 576px){#auth #auth-left{padding:5rem 3rem}}html[data-bs-theme=dark] #auth-right{background:url(../png/4853433.png),linear-gradient(90deg,#2d499d,#3f5491)}
