* {
    border-radius: 0;
    box-shadow: none;

    &:focus-visible {
        outline: none;
    }

}

.accordion {
    padding-top: 25px;
    .accordion-button, .accordion-body {
        background-color: #20233E;
    }

    .accordion-button {
        font-family: Gilroy600, sans-serif;
        padding: 2px 20px;
        padding-right: 0;

        border-radius: 4px 4px 0 0;

        &.collapsed {
            border-radius: 4px;
        }

    }

    .accordion-item {
        border: none;
        background: none;
        margin-bottom: 30px;
        color: rgba(255, 255, 255, 0.87);
        line-height: 151%; /* 30.2px */
        letter-spacing: 0.15px;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-button {
        color: rgba(255, 255, 255, 0.87);
    }
    .accordion-button:not(.collapsed) {
        box-shadow: none;
        color: rgba(255, 255, 255, 0.87);
    }

    .accordion-body {
        border-radius: 0 0 4px 4px;
        ol {
            padding-right: 40px;
            li {
                padding-bottom: 7px;
            }
        }
    }

    .accordion-button::after {
        width: 48px;
        height: 48px;
        background: url("../images/arrow-accordion-icon.svg");
    }
}
